.container {
    display: flex;
    gap: 5%;
    padding: 5%;
}

.scorestop {
    display: flex;
    justify-content: center;
    align-items: center;
}

form {
    display: flex;
    flex-direction: column;
}

input {
    margin-bottom: 5%;
}